= form_for(@accomplishment) do |f|
  p#congratulate
    | Congratulate 
    = f.text_field :receiver_username,
      :placeholder => 'your peer',
      :required => true,
      :maxlength => '8',
      :autofocus => (@user == current_user),
      :value => @user == current_user ? '' : @user.username
    | for:

  = f.text_area :description,
    :placeholder => 'doing something awesome (give context with #hashtags)',
    :required => true,
    :maxlength => description_max_length,
    :autofocus => (@user != current_user)

  p #{f.submit :value => 'Feedback it!'}

input#users type='hidden' value="#{current_user.peers.map(&:username).join(',')}"
