#new-accomplishment {
  @include glass-base(10px);
  color: $article-background-color;
  margin-top: 93px;
  width: $max-width / 2;
  position: fixed;
  left: 49.8%;
  margin-left: -$max-width - 24px;

  #accomplishment_description {
    width: 100%;
    height: 80px;
    @include text-area;
  }

  #accomplishment_scope_id {
    width: 90px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #accomplishment_receiver_id {
    width: 90px;
    margin-left: 5px;
    margin-right: 5px;
  }

  input[type=submit] {
    float: right;
  }

  select {
    height: 35px;
    outline: none;
    font-size: 13px;
    background: url($dropdown-arrow) no-repeat right transparent;
    @include appearance(none);
    border: none;
    font-family: $body-font-family;
    color: white;
    cursor: pointer;

    &:hover {
      color: $color-pink;
    }
  }
}

#latest-accomplishments {
  min-height: 250px;

  #forever-alone {
    display: block;
    margin: auto;
  }

  .accomplishment {
    background: url($accomplishment-pattern);
    box-shadow: 0 2px rgba(5,3,5,.1), inset 0 0 0 1px #fff;
    border: solid 1px #d8cea3;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;

    [itemprop=image] {
      border-radius: 5px;
      @include box-shadow(
        1px 1px 1px rgba(white, 0.5),
        -1px -1px 1px rgba(black, 0.5)
      );
      vertical-align: top;
      margin-right: 10px;
      width: 50px;
      height: 50px;
      float: left;
    }

    [itemprop=name] {
      font-family: $ribbon-font-family;
      font-size: 25px;
      text-shadow: 1px 1px 1px rgba(white, 0.9);
      color: $article-font-color;
      text-decoration: none;
    }

    [itemprop=description] {
      margin-right: 15px;
      margin-left: 60px;
      word-wrap: break-word;
      min-height: 45px;
      line-height: 1.4em;
    }
    [itemprop=datePublished] {
      @include ribbon($color-green, top-right);
      font-family: $ribbon-font-family;
      color: rgba(black, 0.3);
      text-shadow: 1px 1px 1px rgba(white, 0.2);
      text-transform: uppercase;

      position: absolute;
      float: right;
      padding: 5px;
      right: -42px;
      top: 15px;
      height: 43px;
      .day {
        font-size: 34px;
        line-height: 1em;
      }

      .month {
        position: absolute;
        line-height: 1em;
        font-size: 20px;
        vertical-align: top;
      }

      .year {
        display: inline-block;
        line-height: 1em;
      }
    }

    [itemprop=author] {
      display: block;
      text-align: right;
      font-size: 10px;
      line-height: 1em;
      text-shadow: 1px 1px 1px rgba(white, 0.5);
      text-decoration: none;
      color: $article-font-color;
    }

    [itemprop=category] {
      margin-left: 5px;
      font-size: 12px;
      color: $color-green;
    }

    [itemprop='itemReviewed'] > span:first-of-type {
      margin-left: 5px;
    } 

    .remove {
      opacity: 0;
      font-size: 50%;
      padding-left: 5px;
      padding-right: 5px;
      position: absolute;
      top: -5px;
      right: -5px;
      border-radius: 20px;
      width: 15px;
      height: 15px;
      padding: 0;
      text-shadow: none;
      transition: all 250ms;
    }

    &:hover .remove {
      opacity: 1;
    }

    .plus-one {
      $color-light-green: #7C9400;
      width: 20px;
      height: 20px;
      padding: 0;
      text-shadow: none;
      background-color: $color-light-green;
      border-color: $color-light-green;
      text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.24);
      position: absolute;
      top: 68px;
    }

    .plus-one:disabled {
      color: white;
      background-color: rgba($color-green, 0.5);
      border-color: rgba($color-green, 0.7);
      box-shadow: none;
      text-shadow: none;
      cursor: default;
    }

    span.plus-one-counter {
      opacity: 0.7;
      $bg-color: white;
      position: absolute;
      top: 72px;
      left: 34px;
      width: 26px;
      height: 14px;
      font-size: 11px;
      font-family: monospace;
      text-align: center;
      color: black;
      background-color: $bg-color;
      border: solid $color-green 1px;
      border-radius: 5px;
      line-height: 14px;

      &:before {
        content: '';
        display: block;
        width: 2px;
        height: 2px;
        border: 1px solid transparent;
        border-left-color: $color-green;
        border-bottom-color: $color-green;
        position: absolute;
        left: -2px;
        top: 72%;
        margin-top: -5px;
        -webkit-transform: rotateZ(45deg);
        background-color: $bg-color;
      }
    }
  }

  .pagination {
    text-align: right;
    .current {
      color: $color-pink;
    }
    a {
      text-decoration: none;
      color: $article-font-color;
      &:hover {
        color: $body-font-color;
      }
    }
  }
}
