body {
  background: image-url('body.png') fixed;
  font-family: $body-font-family;
  font-size: 13px;
  color: $body-font-color;

  & > article {
    @include outer-container;

    color: $article-font-color;
    $glass-padding: 15px;
    margin-top: $glass-padding;
    margin-bottom: $glass-padding;
    padding: 10px;
    border: solid 1px $article-border-color;
    min-height: 300px;
    @include stripped-background($article-background-color);
    @include box-shadow(
      0 0 0 2px #f8eecf,
      0 0 0 3px white,
      0 0 0 4px #403728,
      0 0 5px 4px rgba(black, .25)
    );

    @include glass-base($glass-padding);

    h1 {
      @include ribbon($color-green, bottom-left);

      font-size: 20px;
      font-family: $ribbon-font-family;
      display: inline-block;
      color: white;
      text-transform: uppercase;
      text-shadow: 1px 2px 0 rgba(black, 0.24);

      margin-bottom: 20px;
      margin-left: -35px;
    }
  }

  & > header {
    text-align: center;
  }

  & > footer {
    font-size: 11px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(white, 0.2);
  }
}

#logo {
  font-family: $header-font-family;
  @include ribbon($color-pink);
  font-size: 55px;
  line-height: 1em;
  color: #dfdbc0;
  text-decoration: none;
  text-shadow: 0 0 4px rgba(black, 0.5);
  border-radius: 0 0 3px 3px;
  border-top: none;
  margin-top: 0;
  margin-bottom: 30px;

  &:before, &:after {
    content: "\2605";
    font-size: 20px;
    line-height: 1em;
    margin: 15px;
    vertical-align: middle;
  }
}

#{$all-text-inputs}, textarea {
  resize: none;
  outline: none;
}

input[type=submit] {
  @include button($color-pink);
}
