#identity {
  @include outer-container;
  text-align: right;
  color: $color-dark-sand;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(white, 0.2);
  a {
    color: $color-dark-sand;
    text-decoration: none;
    &:hover {
      color: $color-cream;
      text-shadow: none;
    }
  }
}