#identity {
  @include outer-container;
  text-align: right;
  color: silver;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(white, 0.2);
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $article-background-color;
      text-shadow: none;
    }
  }
}
