#profile {
  $width: $max-width / 2;
  @include glass-base(10px);
  color: $article-background-color;
  margin-top: 93px;
  width: $width;
  position: fixed;
  left: 50.2%;
  margin-left: $width + 24px;
  padding-left: 10px;

  a {
    text-decoration: none;
  }

  [itemprop=image] {
    border-radius: 5px;
    @include box-shadow(
      1px 1px 1px rgba(white, 0.5),
      -1px -1px 1px rgba(black, 0.5)
    );
    vertical-align: top;
    margin-left: 10px;
    float: right;
  }

  [itemprop=name] {
    font-family: $ribbon-font-family;
    display: block;
    text-align: right;
    font-size: 40px;
    color: rgba($body-font-color, 0.5);
    text-shadow: 1px 1px 1px rgba(white, 0.2);
  }

  #total {
    font-family: $ribbon-font-family;
    display: block;
    text-align: right;
    font-size: 60px;
    margin-top: 30px;
    color: $color-green;
  }

  #unit {
    margin-top: 15px;
    font-size: 20px;
    display: block;
    text-align: right;
    color: rgba($body-font-color, 0.5);
    text-shadow: 1px 1px 1px rgba(white, 0.2);
  }

  #tag-list {
    margin: 10px;
    margin-right: 0;
    text-align: right;

    a {
      color: $article-background-color;
      margin-right: 8px;
      text-decoration: underline;
    }
  }

  #suggestion_description {
    @include transition(height 100ms);
    @include text-area;
    height: 30px;
    width: 100%;
    margin-top: 10px;

    & + input[type=submit] {
      display: none;
      float: right;
    }

    &:focus, &:valid {
      height: 80px;

      & + input[type=submit] {
        display: inline-block;
      }
    }

  }
}

