#profile {
  $width: $max-width / 2;
  @include glass-base(10px);
  color: $article-background-color;
  margin-top: 50px;
  width: $width;
  position: fixed;
  left: 50%;
  margin-left: $width + 24px;
  padding-left: 10px;

  [itemprop=image] {
    border-radius: 5px;
    @include box-shadow(
      1px 1px 1px rgba(white, 0.5),
      -1px -1px 1px rgba(black, 0.5)
    );
    vertical-align: top;
    margin-left: 10px;
    float: right;
  }

  [itemprop=name] {
    font-family: $ribbon-font-family;
    display: block;
    text-align: right;
    font-size: 40px;
    color: rgba(black, 0.3);
    text-shadow: 1px 1px 1px rgba(white, 0.2);
  }

  #total {
    font-family: $ribbon-font-family; 
    display: block;
    text-align: right;
    font-size: 60px;
    margin-top: 30px;
    //color: rgba(green, 0.7);
    color: #7C9464;
    text-shadow: 1px 1px 1px rgba(white, 0.2);
  }
  
  #unit {
    margin-top: 15px;
    font-size: 20px;
    display: block;
    text-align: right;
    color: rgba(black, 0.5);
    text-shadow: 1px 1px 1px rgba(white, 0.2);
  }
}

#accomplishments-chart {
  clear: both;
  font-size: 10px;
  width: 100%;

  dt {
    float: left;
    display: inline;
    width: 30%;
    text-align: right;
    padding-right: 10px;
    margin-top: 5px;
    color: $body-font-color;
    text-shadow: 1px 1px 1px rgba(white, 0.2);
    text-transform: uppercase;
  }

  dd {
    width: 70%;
    float: left;
    margin-top: 5px;

    meter {
      width: 100%;
      border: 1px solid transparent;
    }
  }
}
