#stats {
  table {
    margin-bottom: 20px;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 16px;

    caption {
      font-weight: bold;
      border-bottom: solid 1px;
    }

    tr {
      border-bottom: solid 1px;
    }
    
    td {
      padding: 10px;
    }
  }
}
