#stats {
  h1 {
    margin-right: 50%;
  }

  .chart {
    margin-bottom: 15px !important;
  }

  .summary { 
    text-align: center;

    table {
      display: inline-block;
      min-width: 215px;
      min-height: 173px;
      margin: 10px;
      margin-bottom: 15px;
      background-color: rgba(255, 255, 255, 0.7);
      font-size: 14px;
      vertical-align: top;

      caption {
        min-width: inherit;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: bold;
        padding: 10px;
      }

      tr {
        border-top: solid 1px;
      }
      
      td {
        padding: 10px;
      }

      td.attr {
        text-align: left;
      }

      td.icon {
        font-size: 16px;
      }

      td.value {
        text-align: right;
        font-size: 18px;
        font-weight: bold;
        color: blue;
      }

      td.gravatar {
        text-align: right;

        img {
          border-radius: 3px;
        }
      }

      td.username {
        padding-top: 5px;
        padding-left: 0px;
        vertical-align: middle;
        text-align: left;
        font-size: 16px;

        a { text-decoration: none; }
        a:hover { text-decoration: underline; }
      }

      td.sad {
        color: gray;
      }
    }
  }
}
