@mixin keyframes($name) {
  @-moz-keyframes #{$name} { @content; }
  @-webkit-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @-khtml-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin glass-base($padding) {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -($padding);
    left: -($padding);
    right: -($padding);
    bottom: -($padding);
    background-color: rgba(#59554D, 0.5);
    border: 1px solid rgba(white, 0.2);
    @include box-shadow(0 0 0 1px #26221A, -3px 4px rgba(46,41,30,.5));
    border-radius: 2px;
  }
};

@mixin stripped-background($color) {
  background-color: $color;
  @include background-image(linear-gradient(0deg, transparent 2px, rgba(black, .04) 1px));
  background-size: 3px;
}

@mixin stitched($color) {
  padding: 5px 25px 5px 25px;
  border: 1px dashed rgba(black, 0.3);
  @include box-shadow(
    0 0 0 1px rgba(white, 0.15),
    0 0 0 5px $color,
    0 0 1px 6px rgba(black, 0.2)
  );
  margin: 6px;
}

@mixin ribbon($color, $position: none) {
  @include stripped-background($color);
  @include stitched($color);
  position: relative;
  display: inline-block;

  &:before {
    @if $position == bottom-left {
      content: "";
      display: inline-block;
      position: absolute;
      left: -6px;
      bottom: -16px;
      border-right: 15px solid darken($color, 8%);
      border-bottom: 10px solid transparent;

    } @else if $position == top-left {

    } @else if $position == bottom-right {

    } @else if $position == top-right {
      content: "";
      display: inline-block;
      position: absolute;
      right: -6px;
      top: -16px;
      border-left: 15px solid darken($color, 8%);
      border-top: 10px solid transparent;
    }
  }
}

@mixin text-area {
  border: none;
  border-radius: 3px;
  color: white;
  padding: 5px;
  background-color: rgba(black, 0.1);
  @include box-shadow(
    1px 1px 1px rgba(white, 0.2),
    1px 1px 1px rgba(black, 0.2) inset
  );
}

@mixin button($color) {
  @include stripped-background($color);
  position: relative;
  border: 1px solid darken($color, 8%);
  font-family: $ribbon-font-family;
  color: white;
  font-size: 16px;
  padding: 5px 15px;
  text-shadow: 1px 2px 0 rgba(black, 0.24);
  @include box-shadow(
    inset 0 0 0 1px rgba(white, 0.5),
    0 2px 2px rgba(black, 0.3)
  );
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    top: 1px;
    @include box-shadow(
      inset 0 0 0 1px rgba(white, 0.5),
      0 1px 2px rgba(black, 0.4)
    );
  };

  &:active {
    top: 2px;
    @include box-shadow(
      inset 0 0 0 1px rgba(white, 0.5),
      0 0 2px rgba(black, 0.5)
    );
  }
}