$max-width: 500px;

// FONTS --
$header-font-family: 'Lobster';
$ribbon-font-family: 'LeagueGothic';
$body-font-family: 'DroidSerif';

// COLORS --
$body-font-color: #090807;

$article-font-color: #423E34;
$article-border-color: #D8CEA3;
$article-background-color: #F8EECF;

// -- shades
$color-pink: #E36765;
$color-green: #7C9464;

// IMAGES --
$dropdown-arrow: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9kIGhI1F8hxKxIAAAJHSURBVDjLpZO/SiNRFMa/O/+ZyASMSIIIKSSQgSGFKSxju47V+g6pzAs4ZZ4g2OgbWNmk0EJIaWE3EtQ2MoUiGfXONWEy92yxzGzcdZvdAwcul3N+fN899zAiwv+E9vvF9fV12zRNX1XVjqIoHmMMiqKEjLGRoijDRqNxs1zPlhVcXV11Lcvq1et113Ec2LYNAJjP5xBC4OXlZcwYGzQajZOiiYhARDg/P+9eXl6+xnFMUkpKkoSm0ynFcUwfHx9ERDSbzeju7u71/v6+m/cpAHB2dtZO07S3vb3tlMtlPD09gXOOxWKBLMsghEAcxzBNE/V63SGi3sPDQxvATwDn3N/a2nJXV1cRRRFyW0QEKWVxziGVSsUlIr8ApGnaqVarSJLkk62vcj6fw7ZtEFGnmAIReeVyGe/v77BtG/1+H7quI8uy/K3BGMP+vo9Wq5UDvEJB7pWIwDlHEARI0wVU9deUfX8Prut+slcApJTh8/NzTkaSJAiCI6RpCk3Tsbf3Dc1mE0QEwzAwm80gpQyXAaPJZFIAiAhCCATBEQ4OvqPZbEJKCSKCZVngnIOIRgVA07RhGIbjKIqwubn5CVKr1Qq5a2trEEIgiqKxlHJYAA4PD2+yLBtcXFy8PT4+olarwXEcqKoKVVWxsrKC9fV1CCFwe3v7JqUctFqtmz++8vHxcdcwjJ7nee7GxgYqlQoMwwDnHNPpFJPJZGya5mBnZ+fky10AgNPT0zYAX9O0jq7rnq7r0DQttCxrVCqVhru7u39fpn+JH8dOYlcKZMcCAAAAAElFTkSuQmCC';