$max-width: 600px;

// FONTS --
$header-font-family: 'Lobster';
$ribbon-font-family: 'LeagueGothic';
$body-font-family: 'DroidSerif';

// COLORS --
$body-font-color: #090807;

$article-font-color: #423E34;
$article-border-color: #D8CEA3;
$article-background-color: #F8EECF;

// -- shades
$color-pink: #E36765;
$color-green: #7C9464;