= form_for(@suggestion) do |f|
  = f.text_area :description, :placeholder => 'Suggest improvement', :required => false
  = f.hidden_field :receiver_id, :value => @user.id
  = f.submit :value => 'Send!'
